In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv("../TextFiles/moviereviews.tsv",sep='\t')

In [3]:
df.head()

  label                                             review
0   neg  how do films like mouse hunt get into theatres...
1   neg  some talented actresses are blessed with a dem...
2   pos  this has been an extraordinary year for austra...
3   pos  according to hollywood movies made in last few...
4   neg  my first press screening of 1998 and already i...

In [4]:
# file has 2000 reviews

len(df)

2000

In [7]:
# Shows entire review of the first movie

# df['review'][0]
# print(df['review'][2])

In [8]:
df.isnull().sum()

label      0
review    35
dtype: int64

In [9]:
# Remove empty reviews

df.dropna(inplace=True)

In [10]:
df.isnull().sum()

label     0
review    0
dtype: int64

In [12]:
mystring = 'hello'
empty = ' '

In [13]:
mystring.isspace()

False

In [14]:
empty.isspace()

True

In [15]:
blanks = []

for i,lb,rv in df.itertuples():
    if rv.isspace():
        blanks.append(i)

In [16]:
# Shows all reviews with blank space

blanks

[57,
 71,
 147,
 151,
 283,
 307,
 313,
 323,
 343,
 351,
 427,
 501,
 633,
 675,
 815,
 851,
 977,
 1079,
 1299,
 1455,
 1493,
 1525,
 1531,
 1763,
 1851,
 1905,
 1993]

In [17]:
# dropping the blank reviews

df.drop(blanks,inplace=True)

In [18]:
len(df)

1938

In [19]:
from sklearn.model_selection import train_test_split

In [20]:
X = df['review']

In [21]:
y = df['label']

In [22]:
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.3, random_state=42)

In [23]:
from sklearn.pipeline import Pipeline
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.svm import LinearSVC

In [24]:
text_clf = Pipeline([('tfidf',TfidfVectorizer()), ('clf',LinearSVC())])

In [25]:
text_clf.fit(X_train,y_train)

Pipeline(steps=[('tfidf', TfidfVectorizer()), ('clf', LinearSVC())])

In [26]:
predictions = text_clf.predict(X_test)

In [27]:
from sklearn.metrics import confusion_matrix,classification_report, accuracy_score

In [28]:
print(confusion_matrix(y_test,predictions))

[[235  47]
 [ 41 259]]

In [29]:
print(classification_report(y_test,predictions))

              precision    recall  f1-score   support

         neg       0.85      0.83      0.84       282
         pos       0.85      0.86      0.85       300

    accuracy                           0.85       582
   macro avg       0.85      0.85      0.85       582
weighted avg       0.85      0.85      0.85       582

In [30]:
print(accuracy_score(y_test,predictions))

0.8487972508591065